<header>
    <nav>
        <a  class="headerLinks"href="/posts">Posts</a>
        <a  class="headerLinks" href="/users">Users</a>
        <a class="headerLinks" href='/posts/create'>Create Post</a>
        <a class = "headerlinks" href='/users/create'>Create User</a>
    </nav>
</header>